
.feature-header{
 
    padding-bottom: 100px;
    display: flex;
    /* margin-top: 50px; */
    /* flex-direction: row; */
    /* padding-top: 50px; */
}




.Features-img{

    padding-left: 150px;
    /* display: flex; */
  
}

 .feature-content{
     
    text-align: center;
    /* padding-left: 400px; */
    /* display: flex; */
}
.feat-mind{

    color: #000000;
    width: 50px;


} 

.logo-feature{
    width: 50px;
    margin-right: 100px;

}



.logo-header{
  
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 200px;
    justify-content: space-between;
    
    
}

.feature-content h2{

    margin-left: 90px;
}

.logo-feature p{

  font-size: 15px;
  font-weight: bold;
   width: 60px;
    
}


@media (max-width: 767px) {

    .feature-header {
      padding-bottom: 50px;
      flex-direction:column;
      align-items: center;
      display: grid;

      display: flex ;
     
    }
  
    .Features-img {
      padding-left: 0;
      margin-bottom: 50px;
    }
  
    .feature-content {
      text-align: center;
      padding-left: 0;
      margin-bottom: 50px;
    }
  
    .logo-header {
      /* display: flex; */
      flex-direction: row;
      align-items: center;
      margin-left: 0;
      display: grid;
    grid-template-columns: auto auto auto;
    }
  
    .logo-header img {
      margin-bottom: 20px;
    }
  
    .feature-content h2 {
      margin-left: 0;
    }
  
    .logo-feature p {
      width: auto;
    }
  
  }